﻿@model utb_eshop_patek.Application.Client.ViewModels.Orders.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Moje objednávky</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Cena celkem
            </th>
            <th>
                Počet položek
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total) Kč
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItems.Count)
            </td>
        </tr>
}
    </tbody>
</table>
